*{
    padding: 0;
    margin: 0;
}
.container-calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container-box{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}
.btn.btn-dark{
    left: 320px;
    position: absolute;
    border-radius: 140px;
    margin: 10px;
}
