*{
    margin: 0;
    padding: 0;
}
.Contaier{
    display: flex;
}
.top{
    padding: 0px;
    background-color: rgb(42 42 42);
    box-shadow: none;
    width: 100%;
    height: 40px;
}
.container-nav{
    display: flex;
    
}
.link{
    position: absolute;
    left: 900px;
    
}
.btn-link-top{
    width: 100px;
    height: 36px;
    font-family: monospace;
    font-size: 16px;
    background: none;
    border: none;
    color: white;
}
.btn-link-top:hover{
    color: rgb(253 185 19);
}
header{
    width: 100%;
    background: black;
    height:172px;
    top: 36px;
    position: relative;
    border-bottom: 5px solid rgb(253 185 19);
}
.Container-head{
    display: flex;
    justify-content: center;
    
}
.head{
    width: 1200px;
    height: 120px;
}
.Container-search{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
}
.box-input-seacrh{
    width: 364px;
    height: 37px;
    background: white;
}
.box-btn-search{
    width: 87px;
    height: 37px;
    background: red;
}
input[type=search]{
    width: 267px;
    height: 37px;
    position: relative;
    left: 10px;
    border: none;
    outline: none;
}
.btn-search{
    height: 37px;
    width: 87px;
    position: relative;
    left: 6px;
    border: none;
    background: none repeat scroll 0 0 #fdb913;
    color: white;
}
.Contaniner-menu{

}
.btn-menu{
    width: 105px;
    height: 54px;
    position: relative;
    top: 15px;
    border: none;
    background: fixed;
    color: white;
    font-family: 'Gill Sans',;
    font-size: 15px;
}
.btn-menu:hover{
    background: rgba(255, 255, 255,0.3);
}
.contanier-information{
    display: flex;
}
.information{
    width: 100%;
    height: 200vh;
    position: relative;
    top: 40px;
}
.Container-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.detail{
    width: 357px;
    height: 40px;
    position: relative;
    top: 20px;
    margin: 20px;

}
.la{
    position: relative;
    bottom: 40px;
    left: 40px;
    color: #4e4e4e;
    font-size: 15px;
    font-weight: bold;
    font-family: "Archivo Narrow",sans-serif;
}
.la-p{
    position: relative;
    bottom: 40px;
    left: 40px;
    color: #4e4e4e;
    font-family: "Archivo Narrow",sans-serif;
}
.container-box-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
    width: 100%;
    height: 200vh;

    position: absolute;
    top: 45vh;
}
.Container-content-center{
    display: flex;
    align-content: center;
    justify-content: center;

}
.container-content{
    width: 1200px;
    height: 200vh;

}
.Contaier-category{
    display: flex;
}
.category-left{
    width: 295px;
    height: 1925px;
    border: 1px solid black;
    background: #000000;

}
td{
    width: 295px; height: 36px;
    color: #ffffff;
    font-family: "Istok Web",sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    border-left: none;
    border-right: none;

}
table{
    border: none;
}
tr{
    border:none;
}
.container-box-category{
    display: flex;
    align-items: center;
    justify-items: center;
}
.content-detail{
    width: 915px;
    height: 250vh;
    
}
.container-content-detail{
    display: flex;
    align-content: center;
    justify-content: center;
    position:relative;
    left: 210px;
    bottom: 1927px;

}
.container-menu-buttom{
    display: flex;
    position: relative;
    top: 0px;
}
.slide-picture{
    width: 915px;
    height: 420px;
}
.img-responsive{
    width: 1000px;
}
.menu-buttom{
    width:229px ;
    height:78px ;
    background: black;
    
}
.menu-buttom::before{
    width:229px ;
    height:10px ;
    top: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.6s;
    content: "";
    display: flex;
}
.menu-buttom:hover::before{
    border-top: 5px solid #fdb913 ;
}
.container-slide-picture{
    overflow-y: hidden;
}
.slide-picture{
    display: flex;
    animation: 7s slide infinite reverse;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.container-camera{
    display: flex;
    margin: 10px;
    
}
.camera-photo{
    width: 445px;
    
    height: 152px;
    margin: 10px;
    overflow: hidden;
    
}
.camera:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    
}
.container-information-buttom{
    position: relative;
    top: 100px;
}
.information-buttom{
    width: 915px;
    height: 674px;
    
}
.box-top{
    height: 61px;
    width: 915px;
}
.box-laptop{
    height: 307px;
    width: 915px;
    
}
.box-desktop{
    height: 307px;
    width: 915px;
}
.box-laptop{
    display: flex;
}
.box-laptop-content{
    width: 183px;
    height: 306px;
    border: 0.01px solid black;
}
.box-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-responsive{
    width: 150px;
    position: relative;
    left: 15px;
}
.footer{
    width: 1519px;
    height: 462px;
    border: 1px solid black;
    background: black;
    border-top: 10px solid #fdb913;
    position: relative;
}
.copyright{
    width: 1519px;
    height: 50px;
    background: #2a2a2a;
    position: relative;
    color: white;
}
.label{

    display: grid;
    color: white;
}