*{
    margin: 0;
    padding: 0;

}
.slide_auto_Container{
    width:500px;
    position: absolute;
    
}
.slide{
    width: 100%;
    display: flex;
    animation:slide 16s infinite alternate-reverse;
}
img {
    width: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.Contaner_search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 350px;
}
select{
    width: 200px;
    height: 40px;
}
input{
    width: 400px;
    height: 40px;
}
.btn_search{
    width: 100px;
    height: 40px;
    display: flex;
    text-align: center;
    position: relative;
}
.Container_menu{
    align-items: center;
    position: relative;
    top: 280px;
    justify-content: center;
}

.menu{
    width: 100%;
    height: 90px;
    background: rgb(185, 127, 41);
    position: relative;
}
.btn_menu{
    width: 200px;
    height: 40px;
    transition: 1s;
    position: relative;
    left: 400px;
    top: 50px;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn_menu:hover{
    background: rgba(219, 209, 209,0.3);
    color: white;
}
.Container_Information{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container-information{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container-manage-content{
    width: 100%;
    height: 100vh;

    position: absolute;
}
.Container-manage-layout{
    display:flex;
    align-items: center;
}
.Container-layout-left{
    width: 200px;
    height: 100vh;
    position:relative;
    top:100vh ;
}
.cover-category{
    width: 200px;
    height: 40px;
    display: flex;
}
.cover-category .img-left{
    width: 40px;
    height: 40px;
    
}
.text-category-manage{
    display: flex;

}
.text-category-manage .text-category{
    width: 160px;
    height: 40px;
       text-align: center;
    position: relative;
    background: rgb(0 0 0);
    color: white;
}
